{:paths []
 :deps {Elrond/coll {:local/root "./coll"}
        Elrond/core {:local/root "./core"}
        Elrond/data {:local/root "./data"}
        Elrond/io {:local/root "./io"}
        Elrond/math {:local/root "./math"}
        Elrond/prn {:local/root "./prn"}
        Elrond/nrepl {:local/root "./nrepl"}
        Elrond/ml {:local/root "./ml"}
        Elrond/dataset {:local/root "./dataset"}
        ; Elrond/datomic {:local/root "src/datomic"} import manually
        ; Elrond/dgraph {:local/root "src/dgraph"} import manually
        }}